body{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.box{
    border: 1px solid salmon; 
}

.calc-input{
    font-size:larger;
    width:4em;
    text-align: right;
    
}

.op{
    font-family: Arial, Helvetica, sans-serif;
    font-size:larger;
}

.buy_button{
    width:20em;
}