<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        Vue.config.devtools = true;
    </script>
    <link rel="stylesheet" href="game.css">
</head>

<body>
    <div id="app">
        <h1>Math Incremental</h1>
        Coins: {{coins}} 💰
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Diamonds: {{diamonds}} 💎
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Difficulty: {{parseFloat(difficulty).toFixed(3)}} 💪
        <div class="container">
            <div id="computation" class="box">
                <h3>Computation</h3>
                Solve this to get {{ reward }} coins 💰: <br />
                <input id="term-1" disabled class="calc-input" v-model="operands[0]">
                <span id="operator-1" class="op">+</span>
                <input id="term-2" disabled class="calc-input" v-model="operands[1]">
                <span id="operator-1" class="op">=</span>
                <input id="result" class="calc-input" value="" oninput="result_changed()"
                    ontransitionend="result_transitionend()">
            </div>
            <div id="machines" class="box">
                <h3>Machines</h3>
                <button id="machine-1" onclick="buy_machine_1()">Buy 1 Calculator ({{machineCost[0]}} 💰)</button> (
                    {{machinesOwned[0]}} owned)
            </div>
            <div id="upgrades" class="box">
                <h3>Upgrades</h3>
                <button id="increment-1" class="buy_button" onclick="increment_number(1)">Increment + number 1 ({{numbersUpgradeCost[0]}}
                    💎)</button> (Now: {{maxA}})
                <br />
                <button id="increment-2" class="buy_button" onclick="increment_number(2)">Increment + number 2 ({{numbersUpgradeCost[1]}}
                    💎)</button> (Now: {{maxB}})
                <br />
                <button id="lower-diff" class="buy_button" onclick="lower_difficulty()">Lower difficulty ({{difficultyUpgradeCost}}
                    💎)</button>
                <br />
                <button id="unlock-2" class="buy_button" onclick="buy_number(3)" disabled>Unlock number 3 (50
                    💎)</button>
                <br />
                <button id="unlock-2" class="buy_button" onclick="buy_number(3)" disabled>Unlock - (500 💎)</button>
                <br />
                <button id="unlock-2" class="buy_button" onclick="buy_number(3)" disabled>Unlock * problems (500
                    💎)</button>
                <br />
            </div>
        </div>
    </div>
</body>

<script src="game.js"></script>

</html>